<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<span id="loading">...</span>
	<title>P5Play</title>
	<body>
		
		<span id="ClassANum">...</span>
		<span id="ClassBNum">...</span>
	
	</body>
	<span id="loss">0</span>
	<span id="result">nada</span>

	<script src="https://unpkg.com/ml5" type="text/javascript"></script>
	<script src="../static/libraries/p5.js"></script>
	<script src="../static/libraries/p5.dom.js"></script>
	<script src="../static/libraries/p5.sound.js"></script>
	<script src="../static/scripts/train.js"></script>

	<style>
		body {
			margin:0;
			padding:0;
			overflow: hidden;
		}
		canvas {
			margin:auto;
		}
	</style>
</head>
<body>
</body>
</html>
